.navbar {
    background-color: #333;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-items {
    display: flex;
    align-items: center; /* Center items vertically */
  }
  
  .navbar-items p {
    margin: 0 10px;
  }
  
  